#container{
    display: flex;
    border: solid 1px black;
}
#input,#output{
    flex: 1;
    margin: 5%;
    height: 300px;
    border: solid 1px black;
}
#input-text{
    width: 90%;
    height: 250px;
}
